# Data Types and Structures

Question: What are data structures, and why are they important?

Answer: Data structures organize and store data efficiently. They help improve performance and make data operations faster.

Question: Explain the difference between mutable and immutable data types with examples.

Answer: Mutable data types can be changed (e.g., lists), while immutable ones cannot (e.g., strings, tuples).

Question: What are the main differences between lists and tuples in Python?

Answer: Lists are mutable and slower, while tuples are immutable and faster.

Question: Describe how dictionaries store data.

Answer: Dictionaries store data as key–value pairs using a hash table for quick access.

Question: Why might you use a set instead of a list in Python?

Answer: Sets remove duplicates automatically and allow faster membership checking.

Question: What is a string in Python, and how is it different from a list?

Answer: A string is an immutable sequence of characters, while a list is mutable.

Question: How do tuples ensure data integrity in Python?

Answer: Tuples are immutable, so their data cannot be modified after creation.

Question: What is a hash table, and how does it relate to dictionaries in Python?

Answer: A hash table stores data using hash keys for fast lookup; dictionaries are built on hash tables.

Question: Can lists contain different data types in Python?

Answer: Yes, lists can store elements of multiple data types.

Question: Explain why strings are immutable in Python.

Answer: Strings are immutable to ensure security and allow safe use as dictionary keys.

Question: What advantages do dictionaries offer over lists for certain tasks?

Answer: Dictionaries allow faster lookups and direct access using keys.

Question: Describe a scenario where using a tuple would be preferable over a list.

Answer: Use a tuple when data should remain constant, like coordinates or configuration values.

Question: How do sets handle duplicate values in Python?

Answer: Sets automatically remove duplicate elements.

Question: How does the “in” keyword work differently for lists and dictionaries?

Answer: In lists, it checks values; in dictionaries, it checks keys.

Question: Can you modify the elements of a tuple? Explain why or why not.

Answer: No, tuples are immutable and cannot be changed after creation.

Question: What is a nested dictionary, and give an example of its use case.

Answer: A nested dictionary is a dictionary inside another, e.g., students = {'101': {'name': 'John'}}.

Question: Describe the time complexity of accessing elements in a dictionary.

Answer: Dictionary lookups have an average time complexity of O(1).

Question: In what situations are lists preferred over dictionaries?

Answer: When order matters or only values need to be stored without keys.

Question: Why are dictionaries considered unordered, and how does that affect data retrieval?

Answer: They use hash tables, so elements aren’t stored by position; access is by key.

Question: Explain the difference between a list and a dictionary in terms of data retrieval.

Answer: Lists use index numbers to access elements; dictionaries use unique keys.

## practical questions

In [6]:
#  Write a code to create a string with your name and print it
name = "Jatin kumar"
print(name)

Jatin kumar

In [7]:
# Write a code to find the length of the string "Hello World"
str = "Hello World"
print(len(str))

11

In [8]:
#  Write a code to slice the first 3 characters from the string "Python Programming"
str = "Python Programming"
new_str = str[0:3]
print(new_str)

Pyt

In [11]:
#  Write a code to convert the string "hello" to uppercase
str = "hello"
new_str = str.upper()
print(new_str)

HELLO

In [12]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple"
str = "I like apple"
new_str = str.replace("apple", "orange")
print(new_str)

I like orange

In [13]:
# Write a code to create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [16]:
# Write a code to append the number 10 to the list [1, 2, 3, 4]
basic_list = [1,2,3,4]
basic_list.append(10)
print(basic_list)

[1, 2, 3, 4, 10]

In [17]:
#  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
basic_list = [1,2,3,4,5]
basic_list.remove(3)
print(basic_list)

[1, 2, 4, 5]

In [18]:
#  Write a code to access the second element in the list ['a', 'b', 'c', 'd']
elements = ['a','b','c','d']
print(elements[1])

b

In [19]:
#  Write a code to reverse the list [10, 20, 30, 40, 50].
lists = [10, 20, 30, 40, 50]
lists.reverse()
print(lists)

[50, 40, 30, 20, 10]

In [20]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it
numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

In [21]:
#  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuples = ('red', 'green', 'blue', 'yellow')
print(tuples[-2])

blue

In [24]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15)
numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [25]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [26]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ("apple", "banana", "mango")

# Check if "kiwi" is in the tuple
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [27]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

In [28]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [29]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [30]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [31]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [33]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it
person = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}
print(person)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [34]:
 # Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [35]:
#  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

In [39]:

# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

In [40]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

In [41]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'name': 'Alice', 'age': 25}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'name': 'Alice', 'age': 25}

In [42]:
#  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [6, 33, 53, 86, 98]

In [43]:
# Write a code to create a list with strings and print the element at the third index
fruits = ["apple", "banana", "cherry", "date", "elderberry"]
print(fruits[3])

date

In [44]:
#  Write a code to combine two dictionaries into one and print the result.
dict1 = {'name': 'Alice', 'age': 25}
dict2 = {'city': 'Paris', 'country': 'France'}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'name': 'Alice', 'age': 25, 'city': 'Paris', 'country': 'France'}

In [45]:
# Write a code to convert a list of strings into a set.
fruits_list = ["apple", "banana", "cherry", "apple", "banana"]
fruits_set = set(fruits_list)
print(fruits_set)

{'banana', 'cherry', 'apple'}